@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

/* .feature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-items: stretch;
  width: 100%;
  margin-bottom: 3rem;
}

.featureImg {
  width: 40%;
  display: flex;
  padding: 30px 0;
}

.featureImg img {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  max-width: 100%;
}

.featureTextParent {
  width: 55%;
  height: 360px;
}

.featureText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.featureText div {
  margin-bottom: 1rem;
}

.featureTextIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: auto;
  background: linear-gradient(to bottom, #043345, transparent, #043345);
  background: #043345;
  padding: 2.5rem 1rem;
  border-radius: 10px;
}

.featureTextIcon img,
.featureTextIcon h1 {
  margin: 0.5rem;
  color: hsla(197, 89%, 14%, 1);
  color: aliceblue;
  letter-spacing: 2px;
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
}

.featureTextIcon img {
  width: 70px;
  height: 70px;
}

.featureTextContent {
  font-size: 1.3rem;

  width: 85%;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.1px;
}

.featureReverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.featureReverse .featureImg img {
  transform: scaleX(-1);
}

.featureReverse .featureTextIcon {
  flex-direction: row-reverse;
}

.featureReverse .featureTextParent .featureText {
  align-items: flex-start;
}




@media screen and (max-width: 600px) {
  .feature {
    flex-direction: column;
    align-items: center;
  }

  .featureReverse {
    flex-direction: column;
  }
  .featureImg {
    border-radius: 1000px;
  }
  .featureImg img {
    width: 300px;
    height: 310px;
    border-radius: 2px;
    outline: 5px solid #00ff99;
  }
  .featureTextParent {
    margin-top: 1rem;
    height: 300px;
  }
  .featureTextIcon {
    height: 70px;
    width: auto;
    padding: 0.3rem 0.1rem;
    border-radius: 3px;
    background: none;
    outline: 1px solid #043345;
  }

  .featureTextIcon img,
  .featureTextIcon h1 {
    margin: 0.5rem;
    color: hsla(197, 89%, 14%, 1);
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-family: "Roboto Slab", serif;
    font-weight: lighter;
  }
  .featureTextIcon img {
    width: 50px;
    height: 50px;
  }
  .featureTextContent {
    font-size: 1rem;
    width: 300px;
    font-weight: lighter;
    font-family: "Roboto Slab", sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
  }
}



@media screen and (max-width: 860px) and (min-width: 600px) {
  .feature {
    flex-direction: row;
  }

  .featureReverse {
    flex-direction: row-reverse;
  }
  .featureImg img {
    width: 400px;
    height: 310px;
    border-radius: 2px;
    outline: 5px solid #00ff99;
  }
  .featureTextParent {
    margin: 1rem;
    height: 300px;
  }
  .featureTextIcon {
    height: 70px;
    width: auto;
    padding: 0.3rem 0.1rem;
    border-radius: 3px;
    background: none;
    outline: 1px solid #043345;
  }

  .featureTextIcon img,
  .featureTextIcon h1 {
    margin: 0.5rem;
    color: hsla(197, 89%, 14%, 1);
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-family: "Roboto Slab", serif;
    font-weight: lighter;
  }
  .featureTextIcon img {
    width: 50px;
    height: 50px;
  }
  .featureTextContent {
    font-size: 1rem;
    width: 300px;
    font-weight: lighter;
    font-family: "Roboto Slab", sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
  }
}

@media screen and (max-width: 700px) and (min-width: 400px) {
  .featureImg img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    outline: 5px solid #00ff99;
    margin: 10px;
  }
}

@media screen and (max-width: 1380px) and (min-width: 860px) {
  .featureImg img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    outline: 5px solid #00ff99;
  }
  .featureTextParent {
    margin: 1rem;
    width: 100%;
    height: auto;
  }
} */

.featureCard {
  display: flex;
  justify-content: flex-end;
  border-radius: unset;
  box-shadow: unset;
  margin-bottom: 3rem;
}
.cardContent {
  width: 55%;
}
.largeScreenImg {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.smallScreenImg {
  display: none;
}
@media screen and (max-width: 600px) {
  * {
    direction: ltr;
    text-align: left;
  }
  .featureCard {
    justify-content: center;
  }

  .cardContent {
    width: 100%;
  }
  .featureTitle {
    font-size: smaller;
  }
  .smallScreenImg {
    display: block;
  }

  .largeScreenImg {
    display: none;
  }
}
